
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <a target="_blank" class="b-brand">
                    <div class="b-bg">
                        <i>WD</i>
                    </div>
                    <span class="b-title">We Data</span>
                </a>

            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">
                    <li class="nav-item pcoded-menu-caption">
                        <label>Main MENU</label>
                    </li>

                  <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item pcoded-hasmenu">
                        <a href="javascript: class="nav-link"><span class="pcoded-micon"><i class="feather icon-trending-up"></i></span><span class="pcoded-mtext"> DASHBOARD</span></a>

                              <ul class="pcoded-submenu">
                            <li class=""><a href="/complain.html">Complains</a></li>

                            <li class=""><a href="/Claims.html"> Claims</a></li>
                                    <li class=""><a href="/Client_Satisfaction.html"> Client_Satisfaction</a></li>
                               </ul>
                    </li>



                    <li data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext"> SURFACE</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/ui-forms.html">objective predictive 1</a></li>
                            <li class=""><a>objective predictive 2</a></li>
                            <li class=""><a>objective predictive 3</a></li>
                        </ul>
                    </li>



                    <li class="nav-item pcoded-menu-caption">
                        <label>CONNEXION</label>
                    </li>
                    <li data-username="Authentication Sign up Sign in reset password Change password Personal information profile settings map form subscribe" class="nav-item pcoded-hasmenu">
                        <a href="javascript:" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span><span class="pcoded-mtext">PAGES</span></a>
                        <ul class="pcoded-submenu">
                            <li class=""><a href="/auth-reset-pass.html" class="">Reset Pass</a></li>
                            <li class=""><a href="/login.html" class="">Login (template)</a></li>
                            <li class=""><a href="/register.html" class="">Register (template)</a></li>
                        </ul>
                    </li>

                    <li data-username="Disabled Menu" class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link">
                            <span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Logout</span>
                        </a>
                    </li>


                </ul>
            </div>
        </div>
    </nav>
